#playGround {
    width: 800px;
    height: 800px;
    position: relative;
    background-color: yellow
}

#person {
    width: 40px;
    height: 40px;
    position: absolute;
    background-color: red
    
}

#barU {
    width: 10px;
    height: 40px;
    position: absolute;
    background-color: blue;
}

.U {
    width: 10px;
    height: 40px;
    position: absolute;
    background-color:blue
    
}